body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


* {
    font-family: 'Lato', sans-serif;
}

header {
    background-color: #1e1f21;
}

#brand-name {
    font-family: 'Bebas Neue', cursive;
    font-size: 32px;
    padding-left: 1rem;
    vertical-align: middle;
    color: #ece6e3;
}

a.nav-link {
    color: #39FF13;
}

.fa {
    color: #39FF13;
    padding-right: 1rem;
    padding-left: .5rem;
}

i.fa.fa-user.fa-lg
i.fa.fa-shopping-cart.fa-lg {
    vertical-align: middle;
}

i.fa.fa-user.fa-lg.a
i.fa.fa-shopping-cart.fa-lg.a {
    padding-left: .3rem;
}

@media (max-width: 768px) {
    .fa {
    padding-right: 0; 
    padding-left: 0;
    }

    #brand-name {
        padding-left: 0;
    }
}

a {
    font-size: 16px;
    padding: .2rem;
    font-weight: 400;
}

/* Cards Container */
.section-header {
    text-align: center;
    padding: .5rem;
    font-size: 32px;
    font-weight: 700;
}
.container {
    padding: 1.75rem;
}

.card-title {
    font-weight: 700;
}

.card-text {
    font-size: 20px;
}

.card-body {
    text-align: center;
}

.btn-primary {
    color: #fff;
    background-color: #39FF13;
    border-color: #39FF13;
    font-weight: 600;
}

/* Subscribe Section */

.sub-container {
    background-color: #1e1f21 !important;
}

#sub-header {
    font-size: 32px;
    font-weight: 700;
}

#sub-text {
    font-size: 20px;
}

.form-control {
    width: 50% !important;
    margin: auto !important;
}

/* Footer Fixed */
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    padding: .10rem;
    background-color: #1e1f21;
    color: #ece6e3;
    text-align: center;
}

footer li {
    display: inline;
    padding: 5px;
    font-size: 16px;
}

footer ul {
    margin-top: .5rem !important;
}